.Button{
    display: block;
    margin: 0 auto;
    width: 600px;
    height: 150px;
    border-radius: 40px;
    box-shadow: 0 20px #D1D1D1;
    border: none;
    font-size: 80px;
    font-weight: 600;
}