$BNAblue: #005e85;
$BNAlightBlue: #23abe0;

html{
  overflow: hidden;
}

@font-face {
  font-family: 'KievitOT';
  src: url('./fonts/KievitOT-Regular.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

body{
  font-family: "KievitOT";
  overflow: hidden;
}

.App{
  background-color: $BNAblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Page{
  width: 100%;
  height: 100%;
}